/* .Overlay {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Modal {
  width: 80%;
  background: white;
  padding: 3rem;
  border-radius: 5px;
  font-size: 2rem !important;
} */
.index__categories{ margin-top: 100px; padding: 0 100px; height: fit-content; }

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 260px;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  margin: 50px;
  padding: 30px;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s 0.2s;
  transition: all 0.5s 0.2s;
  max-width: 540px;
  margin: auto;
  height: 300px;
}
.Modal a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 3pxs;
}
.Modal h1 {
  margin-bottom: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(169, 169, 169, 0.726);
}

.mtBtn {
  padding: 12px 60px !important;
  border: none !important;
  outline: none !important;
  border-radius: 30px !important;
  background-color: #55c57a;
  color: white !important;
  margin-top: 50px !important;
  font-size: 16px;
}

.pending,
.varified {
  background-color: #cccccc !important;
}
.ModalBody {
  text-align: center;
}

.btn_complete {
  font-size: 20px !important;
  padding: 12px 60px !important;
  margin-top: 20px !important;
  color: #fff !important;
  border: none !important;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.btn_complete:hover {
  transform: scale(1.005);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
