.privacy__policy {
  width: 90%;
  margin: auto;
  padding: 70px;
  font-family: "CharukolaUltraLight", sans-serif;
  font-size: 17px;
  color: #000;
}
.privacy__policy p { margin-bottom: 15px; }
.privacy__policy-desc{ margin-top: 40px;}

.privacy__policy-desc p a,
.privacy__policy-cookies p a {
  text-decoration: none;
  color: #28b485;
  font-size: 20px;
  font-weight: bold;
}
.privacy__policy-desc p a:hover,
.privacy__policy-cookies p a {
  color: #55c57a;
}

.privacy__policy-consent,
.privacy__policy-info_collect,
.privacy__policy-log,
.privacy__policy-cookies,
.privacy__policy-advertising,
.privacy__policy-thirdparty,
.privacy__policy-ccpa,
.privacy__policy-gdp,
.privacy__policy-childInfo {
  margin-top: 50px;
}
.policy-heading {
  font-family: "CharukolaUltraLight", sans-serif;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 3px;
}
.policy-heading span { font-size: 20px; line-height: 20px; }
.privacy__policy-info_collect ul { margin-left: 40px; }

.privacy__policy-ccpa ul,
.privacy__policy-gdp ul { list-style: none; margin: 0; }

.privacy__policy-ccpa ul li,
.privacy__policy-gdp ul li { margin-bottom: 10px; }
.privacy__policy-gdp ul li span { font-weight: bold; }

@media (max-width: 768px) {
  .privacy__policy { width: 100%; padding: 50px 25px; }
  .privacy__policy-desc { margin-top: 50px; }
  .policy-heading { font-size: 25px; line-height: 25px; letter-spacing: 1px; margin-bottom: 20px; }
  .policy-heading span { font-size: 15px; line-height: 15px; }
  .privacy__policy-info_collect ul { margin-left: 20px; }
  .privacy__policy-ccpa ul,
  .privacy__policy-gdp ul { list-style: none; margin: 0; }
  .privacy__policy-ccpa ul li,
  .privacy__policy-gdp ul li { margin-bottom: 5px; }
}
