.MuiTypography-body1 {
  font-size: 1.6rem !important;
}

.admin {
  max-width: 80%;
  margin: 20px auto;
}

.MuiTypography-body2 {
  font-size: 1.6rem !important;
}
.MuiTypography-h5 {
  font-size: 2.5rem !important;
}
.MuiInputLabel-outlined {
  font-size: 14px !important;
}
