.form-control-file.popup__task {
  width: 100% !important;
  margin-bottom: 2rem !important;
  font-size: 16px !important;
  padding: 10px !important;
  font-family: inherit !important;
}

.form-group.popup__task {
  margin-bottom: 0 !important;
}

.popup__task {
  margin-bottom: 1rem !important;
}
