.response__btn {
  border: none;
  background-color: white;
  margin: 0 5px;
}
.response__btn:focus,
.response__btn:active {
  border: none;
  outline: none;
  box-shadow: none;
}

/* .rank {
  margin-right: 13px;
  font-size: 23px !important;
} */

.MuiDialogContentText-root {
  font-size: 15px !important;
  margin-bottom: -7px !important;
}

.MuiButton-root {
  font-size: 15px !important;
}
